.introduction {
  padding: 1rem;
}

.text {
  text-align: center;
  font-size: 1.35rem;
  padding: 1rem;
  color: var(--secondary-color);
}

.name {
  font-size: 1.5rem;
  font-weight: 700;
}

.welcomeText {
  margin: 2rem 0 0;
}
