.nav {
  height: 10dvh;
  font-family: "Inter";
  background-color: var(--secondary-color);
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 1.25rem;
}

.nav ul a {
  font-size: 1.2rem;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
}

.nav a:global(.active) {
  position: relative;
}
