.skillsText {
  display: flex;
  justify-content: center;
  margin: 2rem 0 1rem;
}

.skillGrid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
  text-align: center;
  margin-bottom: 2rem;
}
